header {
  color: white;
  background-color: #aa0000;
  padding: 5px;
  font-weight: bold;
  .header {
    font-size: 30px;
    vertical-align: ;
  }
  
}

.login {
  text-align: right;
  color: white;
  vertical-align: center;
}

nav {
  background-color: #333333;
  text-align: right;
}

a {
  color: white;
}

footer {
  background-color: #333333;
}

.footer {
  color: white;
}